<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>

<body align="center">

<h1>Student Portal</h1>

<div class="student">
    <div onclick="window.location.href='/submit-request'" style="border: 1px solid black;">
        Personal Profile
    </div>
    <br>
    <div onclick="window.location.href='/student-home/submit-request'" style="border: 1px solid black;">
        Submit a Verification Request
    </div>
    <br>
    <div onclick="window.location.href='/submit-request'" style="border: 1px solid black;">
        Track Status of an Existing Request
    </div>
    <br>
    <div onclick="window.location.href='/submit-request'" style="border: 1px solid black;">
        Student ID Card
    </div>
    <br>
</div>

</body>
</html>